/* Estilos para los botones de WooCommerce */
/* Main page {{{ */
.woocommerce button.button {
  /* Agrega tus estilos personalizados aquí */
  color: #000;
}

.wc-block-grid.has-3-columns .wc-block-grid__product {
  max-width: 33%;
}

.wc-block-grid__product {
  height: auto;
  max-width: 33%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2px 1px;
  padding-top: 1em;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  .wc-block-grid__product-link {
    margin-top: auto;
  }

  .price {
    margin-bottom: 1em;
  }
  .wc-block-grid__product-onsale {
    position: absolute;
    top: 0;
    left: 0;
    background: #00ff00;
    color: #fff;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1;
  }

  .wp-block-button {
    /*  margin-top: auto; */
  }

  .wc-block-grid__product-image {
    img {
      max-height: 300px;
    }
  }
}

.products .product {
  height: 25.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--columbian-blue);
  margin: 0.5em !important;
  padding: 1em 0.5em 0.5em 0.5em !important;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.woocommerce-product-gallery__image {
  max-height: 536px;

  img {
    height: calc(100%);
  }
}
/* }}} */

/* Vistas {{{ */

.views-main {
  margin-top: 35px;

  .product-card {
    padding-top: 0.5em;

    .image-container {
      height: 300px;
      overflow: hidden;
      margin: auto;
    }

    .image-container img {
      height: 300px;
    }

    .bg-image {
      height: 100%;
      width: auto;
    }

    .buttons {
      text-align: center;
    }

    .card-body h2 {
      font-size: 1em;
      font-weight: 600;
    }
  }
}

/* }}} */

.woocommerce-additional-fields h3 {
  display: none;
}

.billing-type {
  border: solid 1px;
  border-radius: 5px;
  border-color: #DDDDDA;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  

  label {
    display: block !important;
    margin: 10px;
  }
}
