/* Body {{{ */
:root {
  --blue-green: #39918c;
  --brown-d: #d0b49f;
  --brown-a: #ab6b51;
  --cornflower: #2f435a;
  --teal-green: #228280;
  --brown: #523a28;
  --white: #edf1f2;
  --blue-gray: #9db6cc;
  --columbian-blue: #c9e1ed;
  --blue: #055c9d;
}

html {
  margin: 0 !important;
  height: 100%;
  background: var(--columbian-blue);
}

body {
  text-align: left;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  margin-bottom: 50px;
}

a {
  color: #000;
  text-decoration: none;
}

/* }}} */

/* NavBar {{{ */
.header-logo img {
  height: 25px;
  margin-left: 25px;
}

.navbar-container {
  width: 100%;
  height: 80px; /* altura fija */
}

.navbar-row {
  display: flex;
  align-items: center;
  height: 40px; /* altura fija */
  padding: 0 20px; /* añade un poco de espacio en los laterales */
}

.navbar-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}

.navbar-top .login {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  color: #0c5594;
}

.navbar-top .register {
  background-color: #0c5594;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

.navbar-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
}

.navbar-bottom a {
  margin: 5px;
  border-color: #0c5594;
}

.jumbotron h1,
.jumbotron .h1 {
  font-size: 35px;
  color: #aaa;
  text-align: center;
}

.title {
  font-size: 11pt;
  font-family: verdana;
  font-weight: bold;
}

.nav-item {
  padding: 0;
}
/* }}} */

/* Footer {{{ */

footer {
  width: 100%;
  border-top: 1px #a2a2a2 solid;
  text-align: center;
  padding: 40px;
  justify-content: space-between;
  color: #aaa;
  background: var(--blue);
}

footer p {
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .footer-columns {
    grid-template-columns: 1fr 1fr 1.5fr;
  }
}

.footer-columns {
  display: grid;
  grid-gap: 5px;
  width: 100%;

  .footer-column {
    li {
      text-align: left;

      p {
        text-align: justify;
      }
    }

    a {
      display: block;
      color: white;
      margin: 5px 0;
    }

    h3 {
      text-transform: uppercase;
      font-size: 18px;
      margin: 0;
      padding-bottom: 5px;
      color: var(--white);
      font-size: 1em;
    }
  }
}

/* }}} */

/* Users {{{ */
.user-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
}

.left-col {
  flex: 1;
  background-color: #eee;
  padding: 20px;
}

.right-col {
  flex: 1;
  background-color: var(--cornflower);
  color: #eee;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.right-col .text {
  color: #eee;
  margin: auto;
  text-align: center;
}

.text .greeting {
  font-weight: 300;
  margin: 0;
}

.text .rume {
  font-weight: 900;
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .right-col {
    display: none;
  }
}
/* }}} */

/* Login {{{ */
@media screen and (min-width: 750px) {
  body {
    background-position: 0px 0px;
  }

  div.login-form {
    margin-right: 90px !important;
  }
}

div.login-form {
  background-color: white;
  color: #020202;
  padding: 23px;
  border: 1px solid #ffffff4a;
  border-radius: 5px;
  width: 300px !important;
  max-width: 90% !important;
  display: flex;
  flex-direcºtion: column;
  align-items: center;
  margin: 90px auto;
}

.login-form input:focus {
  color: #00131c;
  border: 1px solid #00131c;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font-size: 1.2rem;
  height: 38px;
  color: #00131c;
  border: 1px solid #a4a4a4;
  width: 100%;
}

.login-form input#wp-submit {
  transition: 0.2s;
  cursor: pointer;
  padding: 7px 3px;
  background: var(--cornflower);
  border: none;
  width: 100%;
  font-size: 1.1rem;
  color: white;
  border-radius: 5px;
}

.log_erorr {
  color: white;
  background: red;
  padding: 0px 9px !important;
  border-radius: 3px;
  line-height: 2rem;
  width: 100%;
  margin-bottom: 15px;
}
.login-form input#wp-submit:hover {
  transform: translateY(-3px);
}

.login-form label {
  color: #626262;
  font-size: 0.95rem;
  display: block;
}
/* }}} */

/* Register {{{ */

.form-container {
  width: 300px;
  max-width: 90%;
  padding: 20px;
  border: 1px solid #ffffff4a;
  border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  color: #020202;
  margin: 90px auto;
}

.form-container h1 {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;

  padding: 10px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container label {
  margin-bottom: 10px;
  color: #626262;
  font-size: 0.91em;
  display: block;
}

.form-container input {
  font-size: 1.2rem;
  height: 38px;
  width: 100%;
  border: 1px solid #a4a4a4;
}

.form-container .submit {
  transition: 0.2s;
  cursor: pointer;
  padding: 7px 3px;
  background: #0c5594;
  border: none;
  width: 100%;
  font-size: 1.1rem;
  color: white;
  border-radius: 5px;
  margin-top: 1em;
}
/* }}} */

/* Checkout {{{ */
.checkout-container {
  width: 300px;
  max-width: 90%;
  padding: 20px;
  border: 1px solid #ffffff4a;
  border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  color: #020202;
  margin: 90px auto;
}

.checkout form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.checkout label {
  display: block;
  margin-bottom: 10px;
}

.checkout input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

.checkout input[type="hidden"] {
  display: none;
}

.place-order {
  .wp-element-button {
    background-color: var(--cornflower) !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    :hover {
      background-color: var(--teal-green);
    }
  }
}

.checkout div {
  width: 100%;
}

.wc_payment_method {
  label {
    img {
      display: none;
    }
  }
}

/* }}} */

/* Cart {{{ */
@media (min-width: 768px) {
  .woocommerce-cart .woocommerce .woocommerce-cart-form {
    float: left;
    width: 60%;
  }

  .woocommerce-cart .woocommerce .cart-collaterals {
    float: right;
    width: 35%;
  }

  .cart-collaterals .cart_totals {
    width: 100% !important;
  }
}

.checkout-button {
  background-color: var(--cornflower) !important;
}
/* }}} */
